.karuken {
        margin: 10vh auto;
        font-family: 'Architects Daughter', cursive;
        font-size: calc(30px + 2vw);
        margin: auto;
        position: relative;
        text-align: center;
        min-width: max-content;
}
